<h1>About Us</h1>
<p>We, the CodeTheDream Team, are working on our One Month Rails pinteresting apps.</p>
	<p>Everyone in CodeTheDream made their own version of pinteresting.</p>
	<p>Here is <a href="http://www.omr-pinteresting-cruz.com" style="color:blue">mine</a>.</p>

<p>Check out my <%= link_to "profile!", "http://www.facebook.com/nunez.a.cruz", class: "btn btn-primary about"%></p>

<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
    <span>HOLY FUCKING SHIT. Look at this amazing little animated progress bar. We could watch this all day.</span>
  </div>
</div>