<h1>About Us</h1>
<p>We are working on our One Month Rails pinteresting app. I'm tryna get skills to get a jawb, naw mean?</p>

<p>Check out my <%= link_to "profile!", "http://www.facebook.com/nunez.a.cruz", class: "btn btn-primary" %>.</p>