<h1>Welcome</h1>
<p>Join Pinteresting to find (and save!) all the things that inspire you.</p>
<p><%= link_to "Sign Up", "#", class: "btn btn-default btn-lg" %> <%= link_to "Sign In", "#", class: "btn btn-primary btn-lg" %></p>