<h1>What The!</h1>

<p>So you found the secret link....<p>
<p>Nice.</p>
<p>Now leave this place. You are not welcome here.</p>
<p>Oh btw Cruz is the best</p>
<p>P.S. SLI is awesome.</p>
<%= link_to pins_path do %>
      <span class="glyphicon glyphicon-arrow-left"></span>Back
<% end %>
<%#p>Oh btw Diego is a feg 8===D~~~</p>

<%#= do |f| %>
	<%#div class="field">
	    <%= f.label :description %><%#br>
	    <%#= f.text_field :description %>
	<%#/div>
<%# end %>