<h1>What the...!</h1>

<p>So you found the secret link....<p>
<p>Nice.</p>
<p>Now leave this place. You are not welcome here.</p>
<p>Oh btw Cruz is the best</p>
<%= link_to pins_path do %>
      <span class="fa fa-arrow-left"></span>Back
<% end %>
